@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hello, World!  🌍 </h1>
    <p>This is an MVC web application created with ASP.Net core. This application is a CRUD for sellers. If you want to contribute give me ideas and help me, visit my github.</p>
    <p>With this application I learned a lot of things, and also improved a lot of knowledge like logic, English among others, I learned how to create C #, how to create an MVC web application, among many other things. I am much Happy!</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/Bernardo01001">GitHub</a></p>
</div>
